<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riggter</title>
</head> 
<body>
    <form action="/api/createpost" method="POST" class="cos">
        <label for="postName">Post name:</label><br>
        <input type="text" name="postName"><br>
        <label for="postContent">Post content:</label><br>
        <textarea name="postContent" cols="40" rows="5"></textarea>
        <input type="submit" value="Create post">
    </form> 
</body>
</html>